
[submodule "deps/dojo/dojo"]
	path = deps/dojo/dojo
	url = https://github.com/dojo/dojo.git
[submodule "deps/dojo/dijit"]
	path = deps/dojo/dijit
	url = https://github.com/dojo/dijit.git
[submodule "deps/dojo/util"]
	path = deps/dojo/util
	url = https://github.com/dojo/util.git
